doctype html 
html 
    head 
        title #{title}

    body 
        h1 Uploaded Files
        ul 
            li 
                a(href="/uploads/1714884879780-706742190-Short%20Explanation%20of%20Cyber%20__Security%20Concept.pdf") 
                    | Short Explanation of Cyber Security Concept