.header
    .container.d-flex.justify-content-between.align-items-center
        .container-logo.d-flex.align-items-center.justify-content-center
            a(href="/" link-home) 
                <span>T</span>uyen<span>d</span>ung 
        .container-info.d-flex.d-flex.align-items-center.justify-content-center
            .notice
                img(src="/images/notification-bell.png", alt="notice")
            .info.d-flex.align-items-center.justify-content-center
                .box-img.d-flex.align-items-center.justify-content-center
                    img(src="/images/user-circle-solid-24.png", alt="user")
                span.name Dao Phan Quoc Hoai
            .login.d-none
                p Đăng nhập 
            .register.d-none 
                p Đăng ký 