extends ../../layouts/default.pug 

block main 
    .row.mt-4
        .col-12
            .card.mb-4
                .card-header Thông tin công ty
                .card-body
                    img(
                        src="https://donga.edu.vn/Portals/0/Images/DoiTacDN/fpt-sw.png"
                        style="height: 100px;margin-bottom: 15px;"
                    )
                    p Tên công ty : <b>FPT Software</b>
                    p Email: <b>abc@gmail.com</b>
                    p Số điện thoại: <b>0123456789</b>   
                    p Số nhân viên: <b>20</b>
                        
    .row
        .col-6
            .card.mb-4
                .card-header Job 
                .card-body
                    p Số lượng: <b>10</b>
                    p Đang tuyển: <b>8</b>
                    p Dừng tuyển: <b>2</b>
        .col-6
            .card.mb-4
                .card-header CV
                .card-body
                    p Số lượng: <b>10</b>
                    p Đã xem: <b>8</b>
                    p Chưa xem: <b>2</b>