.sider
    .inner-menu 
        ul 
            li 
                a(href=`/${prefixAdmin}/dashboard`) Tổng quan
            li 
                a(href=`/${prefixAdmin}/infoCompany`) Thông tin công ty
            li 
                a(href=`#`) Quản lý việc làm
            li 
                a(href=`#`) Quản lý CV
            